@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "Exo 2", sans-serif;
}


section[aria-label="hero-front"] {
    margin: 3rem 0 0 5rem;
    background: no-repeat right/65% url(./Assets/Photos/backCards.png),
        no-repeat right url(./Assets/Photos/frontCards.png);
    height: 80vh;
    min-height: 1080px;
}

.navbar {
    display: flex;
}

img[alt="logo-svg"] {
    margin-right: 20vw;
    width: 10rem;
}

ul {
    display: flex;
    list-style: none;
}



.list-item {
    font-weight: 500;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.list-item:hover {
    font-weight: 500;
    font-size: 1.75rem;
    text-decoration: rgb(238, 31, 238) underline;
    cursor: pointer;
}

.block-list {
    position: absolute;
    right: 2.5%;
}

.item {
    margin-left: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}

.list-item2 {
    width: 160px;
    background: no-repeat left url(./Assets/Icons/btn-pink-bg.svg);
    background-size: 60px;
}

.list-item2>img {
    width: 70px;
}

.hero-heading {
    font-weight: 600;
    font-size: 6.5rem;
}

.hero-description {
    font-weight: 400;
    width: 50%;
    font-size: 2rem;
}

.btn {
    color: #fff;
    border: none;
    width: 14rem;
    height: 3.25rem;
    text-align: end;
    font-weight: 600;
    font-size: 2rem;
    background: no-repeat left url(./Assets/Icons/btn-pink-bg.svg);
    background-size: 128px 64px;
    margin: 6rem 0 6rem 0;
    cursor: pointer;
}

.hero-experience {
    display: flex;
    font-weight: 500;
    font-size: 1.5rem;
}

.hero-text {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 2.25rem 1.5rem auto 1.5rem;
}

.hero-num {
    color: #fff;
}

.v-rule {
    margin-right: 1.5rem;
}

.hero-experience>p>span {
    font-weight: 500;
    font-size: 4rem;
}

section[aria-label="hero-logos"] {
    width: 100%;
    background-color: rgb(32, 31, 31);
}

.hero-logos {
    width: 80%;
    height: 12.5vh;
    min-height: 250px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.logo {
    background: no-repeat center url(./Assets/Icons/Logo.svg);
    background-size: 10rem;
    width: 20%;
}

section[aria-label="hero-service"] {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 1200px;
}

.hero-service {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.hero-service-heading {
    /* width: 50%; */
    font-weight: 600;
    font-size: 6rem;
}

.hero-service-description {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 12.5rem;
}

.box-container {
    display: flex;
    margin-top: 8rem;
}

.box {
    width: 33%;
    margin-left: 3rem;
    min-width: 400px;
    min-height: 400px;
    border: 0.125rem solid;
    border-image: linear-gradient(to right bottom, rgba(255, 255, 255, 100%), rgba(218, 221, 225, 5%)) 1;
}

.box1 {
    background: no-repeat top/40% url(./Assets/Icons/dollar-circle.svg), linear-gradient(rgba(255, 255, 255, 15%),
            rgba(255, 255, 255, 5%));
}

.box-heading {
    text-align: center;
    position: relative;
    bottom: -15rem;
    font-weight: 500;
    font-size: 2.5rem;
    color: #fff;
}

.box2 {
    position: relative;
    top: -4rem;
    border: 0.25rem solid;
    border-image: linear-gradient(to right bottom, rgba(255, 255, 255, 100%), rgba(255, 255, 255, 40%)) 1;
    background: no-repeat top/40% url(./Assets/Icons/cloud-add.svg), linear-gradient(rgba(255, 255, 255, 10%),
            rgba(255, 255, 255, 40%));
}

.box3 {
    background: no-repeat top/40% url(./Assets/Icons/lock.svg), linear-gradient(rgba(255, 255, 255, 15%),
            rgba(255, 255, 255, 5%));
}

.hero-features {
    background-color: #fdf2f2;
    background-image: url(./Assets/Photos/VCards.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 45vh;
    min-height: 85rem;
}

.hero-features-heading {
    color: #000;
    font-weight: 600;
    font-size: 6rem;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
}

span {
    color: rgb(238, 31, 238);
}

.hero-features-description {
    color: rgba(0, 0, 0, 75%);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

section[aria-label="hero-feedback"] {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.user-reviews {
    text-align: left;
    font-weight: 400;
    font-size: 1.5rem;
}

.hero-feedback-heading {
    font-weight: 600;
    font-size: 6rem;
    width: 90%;
    margin: 7rem auto 7rem auto;
}

.hero-feedback-description {
    font-weight: 400;
    font-size: 1.75rem;
    width: 60%;
    margin: 0 auto 7rem auto;
}

.first-container {
    display: flex;
    width: 100%;
    margin-right: 3rem;
}

.second-container {
    display: flex;
    width: 100%;
}

.feedback {
    width: 100%;
    margin: 3rem;
    border: 2px solid;
    border-image: linear-gradient(to bottom, rgb(253, 253, 253), rgba(211, 147, 243, 0%)) 1;
    min-height: 320px;
}

.feedback1 {
    border: 0.125rem solid;
    border-image: linear-gradient(to right bottom, rgba(255, 255, 255, 100%), rgba(255, 255, 255, 40%)) 1;
}


.feedback-box {
    margin: 2rem;
    margin-bottom: 0;
}

.feedback-box>p>span {
    font-weight: 200;
    color: #fff;
}

.hr {
    width: 20%;
    min-width: 300px;
    display: flex;
    margin: 2rem auto 3rem auto;
}

.border {
    width: 8rem;
    height: 1.5rem;
    margin-left: 1.25rem;
    background-color: rgb(248, 22, 248);
    border-radius: 2rem;
}

.dot-circle {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1.25rem;
    background-color: #4d4e50;
    border-radius: 2rem;
}

.rectangle-div {
    text-align: center;
    display: flex;
    width: 100%;
    height: 700px;
    background: no-repeat url(./Assets/Photos/Rectangle-6774.png),
        no-repeat url(./Assets/Photos/Rectangle-6773.png);
    background-size: 100% 100%;
    position: relative;
}

.join-now {
    width: 100%;
    height: 700px;
    background: no-repeat left top url(./Assets/Photos/Diamond-right.png),
        no-repeat right url(./Assets/Photos/Diamond-left.png);
    background-size: 33% 700px;
}

.join-now-heading {
    width: 75%;
    margin: 8rem auto 4rem auto;
    font-weight: 800;
    font-size: 6rem;
}

.join-now-heading>span {
    color: #000;
}

div[aria-label="footer-list"] {
    width: 70%;
    margin-left: auto;
}

.footer {
    display: flex;
    height: 10vh;
    min-height: 250px;
    width: 80%;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.footer-list {
    display: flex;
    list-style: none;
}

.list-item {
    font-weight: 500;
    margin-left: 2rem;
    font-size: 1.5rem;
}
